.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 2em;
  grid-gap: 20px;
  margin-top: 2em;
  border-radius: 10px;
}

.group2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  padding: 2em;
  grid-gap: 20px;
  margin-top: 2em;
  border-radius: 10px;
}

.routeFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#likeBtn {
  height: 4em;
}
// #mobileFirst{
//   width: 100vw !important;

// }
#noHoles {
  margin: 0 !important;
  padding: 0 !important;
}
.hero {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/72/Puerta_de_los_Serranos%2C_Valencia%2C_Espa%C3%B1a%2C_2014-06-30%2C_DD_86.JPG) !important;
}
