.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 2em;
  grid-gap: 20px;
  margin-top: 2em;
  background-color: white;
}

.each-card {
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}

.routeFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#likeBtn {
  height: 4em;
}
// #mobileFirst{
//   width: 100vw !important;

// }
#noHoles {
  margin: 0 !important;
  padding: 0 !important;
}
.hero {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/72/Puerta_de_los_Serranos%2C_Valencia%2C_Espa%C3%B1a%2C_2014-06-30%2C_DD_86.JPG) !important ;
  background-repeat: no-repeat !important;
  // background-size: cover !important;
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 8000px) {
  /* Specific to this particular image */
  .hero {
    left: 50%;
    margin-left: -720px; /* 50% */
  }
}

.span-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: rgb(5, 155, 255);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  margin: 0 1em 1em 1em;
}

.span-rating span {
  margin-top: 0.9rem;
}

.shink {
  transition: box-shadow 0.6s;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
}
.shink:hover {
  box-shadow: 0 0 11px rgba(22, 33, 33, 0.1);
}

.site-back-top-basic {
  color: rgba(125, 76, 219, 255);
  bottom: 65px;
}

.iconos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconos span {
  margin-left: 10px;
  font-size: 1.6em;
}

.button-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.button-details:hover {
  color: #fff;
  background-color: rgba(94, 96, 206);
}
