.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 2em;
  grid-gap: 20px;
  margin-top: 2em;
  border-radius: 10px;
}

.group2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  padding: 2em;
  grid-gap: 20px;
  margin-top: 2em;
  border-radius: 10px;
}

.routeFooter{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
#likeBtn{
height: 4em;
}
#mobileFirst{
  width: 100vw !important;

}
#noHoles{
  margin:0 !important;
  padding: 0 !important;
}